<html>
    <head>
        <style>
            .d1{
                margin-top: 10px;
            }
            .d1,.img1{
                width: 300px;
                height: 200px;
                margin: auto;
                border: 2px solid purple;
                text-align: center;
                align-items: center;
                justify-content: center;
            }
            .d2{
                width: 200px;
                height: 50px;
                margin: auto;
                text-align: center;
                border: 2px solid purple;
                background-color:pink;
                color:  black;
                align-items: center;
                justify-content: center;
            }
            body{
        background-image: url("ttps://centerforfamilymedicine.com/wp-content/uploads/2018/10/Center-for-Family-Medicine-Sherman-Texas-True-Benefits-Of-A-Health-Weight-Understanding-BMI.jpg");
        background-size: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
        </style>
    </head>
    <body style="background-image: url('https://centerforfamilymedicine.com/wp-content/uploads/2018/10/Center-for-Family-Medicine-Sherman-Texas-True-Benefits-Of-A-Health-Weight-Understanding-BMI.jpg'); 
    background-repeat: no-repeat; background-attachment: fixed;">                     
        <div class="d1">
            <img src="https://cdn.glitch.global/d8fc9d68-1c9c-4da0-b00f-f3be8e021177/welcome-images%5B1%5D.jpg?v=1669997513733" 
            class="img1">
        </div><br>
        <div class="d2">
                <div class="about"
                    <h4><b><i>About</i></b></h4>
                   
                    A new user ? <a href="/signup">Signup</a><br>
                    Already a user? <a href="/signin">Signin</a>
                </div>
        </div>
        
    </body>
</html>